*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    background-color:#E5D0AC;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header img{
    height: 50px;
    border-radius: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 25px;
    font-weight: bold;
    color: #6D2323;
}

.main{
    background-color:#FEF9E1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6D2323;
    font-size: large;
    
}

.phone-ui{
    background-color: #5e5959;
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 320px;
    border-radius: 15px;
    margin: 5px;
}
.camera{
    background-color: rgb(228, 217, 217);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    align-self: center;
    margin-top: 15px;
}
.phone-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fafafa;
    margin-top: 40px;
    margin: 40px 20px 30px ;
}
label {
    margin: 10px auto 5px;
    padding: 10px;
}
input{
    margin: 10px auto 20px;
    height: 35px;
    width: 250px;
    border: #5e5959 solid 2px;
    border-radius: 4px;
}

#results-div{
    border: #6D2323 solid 2px;
    margin: 10px;
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-styles{
    border: solid #6D2323 3px;
    border-radius: 15px;
    height: 30px;
    width: 80px;
    margin: 10px;
}
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  footer{
    background-color:#E5D0AC;
  }